/*
Steven Gaona STE2342585
Date: 4/11/25
*/


/*********** MAIN LAYOUT ***********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

h1 {
    padding: 2rem;
    text-align: center;
}

#nav-menu {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

#nav-menu li {
    text-align: center;
    background-color: aquamarine;
    padding: 1rem;
    flex-grow: 1;
}

a:visited {
    color: inherit;
  }

 a:hover {
    color: darkgray;
 } 

 footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: .25rem;
    width: 100%;
    background-color: aquamarine;
 }




/*********** APPLICATION PAGE ***********/
form {
    display: grid;
    margin: auto;
    max-width: 60%;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "first-name last-name"
    "email email";
}

.first-name {
    grid-area: first-name;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.first-name input[type="text"], .last-name input[type="text"] {
    background-color: rgb(232, 232, 232);
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: 65%;
}

.last-name {
    grid-area: last-name;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;

}

.email {
    grid-area: email;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
}







