/*
Steven Gaona STE2342585
Date: 4/11/25
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
}

h1 {
    padding: 2rem;
    text-align: center;
}

#nav-menu {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

#nav-menu li {
    text-align: center;
    background-color: aquamarine;
    padding: 1rem;
    flex-grow: 1;
}
